/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common sections */
body{
    background-color: #ffffff;  
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1440px;
    background-color: #2D25A0;
    
    
}

/* main container */


.top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 67px 140px 86px 156px;
   
}
.title-section h1{
    width: 485px;
    color: #ffffff;
    font-size: 64px;
    
}
.title-section h2{
    background-color: #E02C6D;
    width: 168px;
    padding: 10px 24px;
    color: #ffffff;

    transition: transform 2s ease-in-out;

}
/* .top-section:hover h2 {
    transform: rotate(360deg) scale(1.5); 
} */

.top-section img{
    width: 556.01px;
    height: 438px;     
}





/* grid-container  */

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4 , 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin:70px 210px 165px 180px;
    
}

.player{
    display: flex; 
    height: 474px;
    flex-direction: column;
    padding: 15px 15px 33px 15px;
    box-shadow: 5px 5px  20px 2px rgba(182, 179, 179, 0.384);   
}

.player p{
    color: #6c6c6cb6;
    font-weight: 100;  
}

.player h3{
    font-size: 28px;
}
.player img{
    width: 330px;
    height: 256px;
}


footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{ 
    width: 483px;
    height: 110px;
}


@media only screen and (max-width:688px) {
   
    .top-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   
    .players{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
       
        
    }
    .player{
        display: flex;
     
        
    }
    
}
